{{>header}}
    <div class="text-center" >
        <h3>{{agregarCurso id nombre descripcion valor modalidad intensidad estado}}<h3>
    </div>
    <br>
   <a href="./cursosCoordinador" class="btn btn-danger">Volver</i></a>
   

{{>footer}}