{{>headerConectado}}
	
	<div class="container">
		<div>
	        <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #338B57;">
	            <div class="collapse navbar-collapse" id="collapsibleNavId">
	                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	                    <li class="nav-item">
	                        <a class="nav-link" href="/vistaAspirante" style="font-size: 18px">Cursos Educación Continua   | </a>
	                    </li>
	                    <li class="nav-item active">
	                        <a class="nav-link" href="/cursosAspirante" style="font-size: 18px">Mis cursos   | </a>
	                    </li>
	                    <li class="nav-item">
	                        <a class="nav-link" href="/horarioAspirante" style="font-size: 18px">Mi Horario</a>
	                    </li>
	                </ul>
	            </div>
	        </nav>
	    </div>

	    <br>
	    <br>

	    <h3 style="color: #076633" class="text-center">Cursos Inscritos</h3>
	    <br>
    </div>

    {{{mostrarCursosAspirante listado_cursos_aspirante}}}

{{>footer}}