{{>header}}
    
    <div class="text-center" >
        <h3 style="color: green">Cursos del programa de Educación Continua<h3>
    </div>
    <br>
   
        {{{cursosDisponibledb listadoCursosdb}}}
	
    <br>
    <br>
    
{{>footer}}