{{>header}}
    <div class="text-center" >
        <h3>Bienvenido a la página de Cursos<h3>
    </div>
    <br>
   

    {{{listarCursosDisponibles}}}

    <!--ESTE ENLACE FUE INCLUIDO PARA PROBAR EL LISTADO DE CURSOS DEL ASPIRANTE-->
    <a class="nav-link" href="/vistaAspirante">Listado cursos aspirante</a>
    <!--BORRAR CUANDO YA SE TENGA EL LOGIN-->

{{>footer}}