{{>header}}
	<div class="container">
        <h3 style="color: #076633;">Inicio fallido</h3>
        <h5>Lo sentimos, el correo ingresado no se encuentra registrado.</h5>
        <h5><a class="nav-link" href="/"> >>Volver al inicio</a></h5>
    </div>;
{{>footer}}