{{>header}}
    <p>
        <div class="text-center">  
        <h3>Bienvenido a la pagina de registro</h3>
        </div>
    </p>
<div class="abs-center"> 
    <div class="text-center">  
        <form class="form" action="./registro" method="post">
         <div class="form-group">
        
       		 <label for="cedula">Número de Documento:</label>
           <input type="number" name="cedula" class="form-control" placeholder="Digite la cedula"  required>
           
			     <label for="nombre">Nombre Usuario:</label>
        	 <input type="text" name="nombre" class="form-control"placeholder="Nombre del arpirante" required><br>
        
           <label><input type="radio" name="rol" value="Aspirante" checked > Aspirante </label>

           <label><input type="radio" name="rol" value="Coordinador"> Coordinador </label><br>
         
           <label for="telefono">Teléfono:</label>
           <input type="number" name="telefono"class="form-control"placeholder="Digite el teléfono"  required>
        
           <label for="correo">Correo Electrónico:</label>
           <input type="email" name="correo" class="form-control" placeholder="Ej: usuario@servidor.com" required>
        
           <label for="password">Contraseña:</label>
           <input type="pass" name="password" class="form-control" placeholder="Digite la contraseña"  required>
        
           <br>
        <button class="btn btn-primary btn-dark">Registrar</button>
       </div>
    </form>
  
  </div>
</div>
  
   
{{>footer}}