{{>headerConectado}}

	<div class="container">
		<div>
	        <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #338B57;">
	            <div class="collapse navbar-collapse" id="collapsibleNavId">
	                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	                    <li class="nav-item active">
	                        <a class="nav-link" href="/vistaAspirante" style="font-size: 18px">Cursos Educación Continua   | </a>
	                    </li>
	                    <li class="nav-item">
	                        <a class="nav-link" href="/cursosAspirante" style="font-size: 18px">Mis cursos   | </a>
	                    </li>
	                    <li class="nav-item">
	                        <a class="nav-link" href="/horarioAspirante" style="font-size: 18px">Mi Horario</a>
	                    </li>
	                </ul>   
	            </div>
	        </nav>
	    </div>

	    <br>
	    <br>

	    <h3 style="color: #076633" class="text-center">Cursos del Programa de Educación Continua</h3>
	    <br>

		<div class="h-100 d-flex justify-content-center">  
	        <form class="form-inline" action="./vistaAspirante" method="post">
	        	<div class="form-group mb-2">
		       		<label for="nombre">Nombre del curso:</label>
		           	
	       		</div>
	       		<div class="form-group mx-sm-3 mb-2">
	       			<input type="text" name="nombreCurso" class="form-control" placeholder="Digite el nombre del curso"  required>
	       		</div>
	       		<div class="form-group mx-sm-3 mb-2">
		        	<button class="btn btn-primary btn-dark">Buscar</button>
		        </div>
	   		</form>
	   		<form class="form" action="./vistaAspirante" method="get">
	        	<div class="form-group mx-sm-3 mb-2">
	        		<button class="btn btn-primary btn-dark">Mostrar todos</button>
	        	</div>
	        </form>
	  	</div>

	  	<br>

    </div>


	{{{mostrarCursosTotalesAspirante cursosDisponibles}}}
	
	<br>
	<br>

{{>footer}}